<h3 *ngIf="products; else: noProducts">{{ title }}</h3>
<div class="form-group">
    <input 
    class="form-control" 
    id="productName" 
    placeholder="Ürün Arama"
    [(ngModel)]="filterText"
    />
</div>



<div class="row">
    <ng-template #noProducts>
        <div class="alert alert-primary" role="alert">
            Bu kategoride Ürün Yok
        </div>
    </ng-template>
    <div *ngFor="let urun of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img [src]="urun.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{urun.name}} {{urun.price | currency }}</h5>
            <p class="card-text">{{urun.description}}</p>
            <a (click)="addToCart(urun)" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>
</div>